plot_data/
dist/
scripts/
chains/
*.mod
*.a
*.o
*.sm
*~
.metadata
.project
.pydevproject
.DS_Store
x64/
Debug/
Release/
DebugMPI/
ReleaseMPI/
*.suo
*.asv
*.u2d
*.user
*.pdb
data/clik
cosmomc
cosmomc_debug
CosmoMC/

*.py[cod]
*$py.class
__pycache__/
.idea/
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
