*.txt           text
*.f90           text
*.F90           text
Makefile	text
*.m             text
*.paramnames    text
*.ini           text
*.dat           text
*.py            text
*.html          text
